.vscode
boot_out.txt

#<RP Default Gitignore Start>
*.pyc
*.bak
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.un~
*.gstmp
*.ipynb_checkpoints
*.DS_Store
#<RP Default Gitignore End>

nano_log.txt
screenlog.0
.fseventsd/fseventsd-uuid
